/* App.css */
/* App.css */
/* Components.css */

.header {
  background-color: #0074b3;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}

/* Components.css */

/* Components.css */

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  background-color: #fff;
  height: 5px;
  margin: 6px 0;
  width: 35px;
  border-radius: 3px;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
  transition: all 0.1s;

  &:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    z-index: 6;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #0074b3;
    width: 100%;
  }

  .nav.open {
    display: flex;
  }

  .nav a {
    margin: 10px;
  }
}


.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; /* Set a maximum width to prevent overflow */
  margin: 0 auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.social-icons {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.social-icons a {
  margin-right: 15px;
  
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}
