.App {
  
}
/* App.css */

.header {
  background-color: #0074b3; /* Background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px; /* Font size for the "PillPal" link */
  font-weight: bold; /* Font weight for the "PillPal" link */
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Text color for the "PillPal" link */
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #fff; /* Text color for the "About" and "Sign In" links */
  margin: 0 10px; /* Margin between links */
}
